In [18]:
a = a + 1

In [23]:
#지우기 dd

In [20]:
a +=1 #이렇게 간단하게 사용하는 것이 좋습니당

In [24]:
a ** 2 #제곱

841

In [25]:
a ** 3 #3제곱

24389

In [27]:
14 / 3 #나누기 : 나머지와 몫을 구하기 어려움

4.666666666666667

In [28]:
14 % 3 #나머지

2

In [29]:
14 // 3 #몫

4

In [30]:
#문자

In [4]:
name = "변성윤"

In [5]:
name + "님 안녕하세요" #문자열 합치기(인코딩 문제로 파이썬3만 됩니당)

'변성윤님 안녕하세요'

In [6]:
#파이썬에서 숫자를 셀 때는 0부터 세야됩니다

In [7]:
name[0] #파이썬 3.0이라면 변이 출력될 것임

'변'

In [8]:
name[1:] #첫번째부터 끝까지 출력 파이썬 3.0은 성윤이 출력될 것

'성윤'

In [9]:
"%s님 안녕하세요." % "변성윤"

'변성윤님 안녕하세요.'

In [10]:
"{0}님 안녕하세요.".format("변성윤")

'변성윤님 안녕하세요.'

In [2]:
"{name}님 안녕하세요.".format(name="변성윤") #이런 스타일로 코드를 작성하길

'변성윤님 안녕하세요.'

In [15]:
"안녕하세요. {name} 입니다. 저는 {course}를 수강하고 있습니다.".format(name="변성윤", course="데사스") #함수안에서 keyvalue를  넣는 경우엔 띄어쓰기를 하지 않습니당

'안녕하세요. 변성윤 입니다. 저는 데사스를 수강하고 있습니다.'

In [16]:
#리스트, 튜플, 딕셔너리, 셋!
#리스트는 [] / 튜플은 () 을 사용함

In [17]:
animals = ["강아지", "고양이", "이구아나"] #문자열을 가지고 있는 리스트
#리스트 = 순서가 있는 요소들이며 변경가능함

In [18]:
animals[0]

'강아지'

In [19]:
animals.append("물고기") #이경우 맨뒤에 데이터를 추가함. 점 뒤에서 탭누르면 명령어 보임

In [20]:
len(animals) #리스트의 몇개의 요소가 있는지 출력

4

In [23]:
animals.pop(1) #이거 누르면 뽑혀져 나감

'고양이'

In [22]:
animals[0][1]

'아'

In [24]:
# 튜플은 리스트와 동일하지만 요소 값을 변경할 수 없음. 따라서 변수같은 경우엔 리스트로 두고 불변해야되는 값

In [25]:
width_and_height = (120, 240)

In [27]:
width, height = width_and_height #변수의 개수만큼 할당 가능

In [28]:
#set 형태
#집합은 순서가 없고, 각각의 element가 unique해야함. 중복을 제거할 때 사용됨

In [29]:
name_set = set(["안수찬","안수찬","김승현","박승권"])

In [30]:
name_set

{'김승현', '박승권', '안수찬'}

In [31]:
name_list = ["안수천","안수찬","안수찬","김승현","김승현","박준영","박준영"]

In [32]:
name_list = list(set(name_list))

In [33]:
name_list #가장 파이썬스럽게 중복제거하는 방법이지만 데이터 분석 테이블에서는 다른 방식을 사용(순서가 망가지기에)

['안수찬', '김승현', '박준영', '안수천']

In [34]:
#딕셔너리형 {} 사용

In [38]:
detail_dict = {"name":"안수찬", "age":24, "phonenumber":"010-2220-5736"}

In [39]:
detail_dict #여러개의 데이터를 다 같이 넣을 수 있음

{'age': 24, 'name': '안수찬', 'phonenumber': '010-2220-5736'}

In [40]:
detail_dict["name"] #명시적임

'안수찬'

In [41]:
1 > 3

False

In [42]:
1 < 3

True

In [44]:
True & True # AND

True

In [45]:
True | False # OR

True

In [46]:
#if문

In [48]:
if 1 < 3:
    print("1이 3보다 작다.")

1이 3보다 작다.

In [52]:
a = 13
b = 15

if a < b:
    print("a({a})가 b({b})보다 작다.".format(a=a, b=b)) #formating 적용
else:
    print("a가 b보다 크다.")

a(13)가 b(15)보다 작다.

In [53]:
animals = ["강아지","고양이","이구아나"]

In [54]:
if "이구아나" in animals:
    print("이구아나를 키우고 있습니다.")
else:
    pirnt("이구아나를 키우고 있지 않습니다")

이구아나를 키우고 있습니다.

In [57]:
#90점 이상은 A, 60 ~90점은 B, 60점 미만은 c다를 출력해봅시다

score = 92
if score >= 90:
    print("A")
elif score >= 60:
    print("B")
else:
    print("C")

A

In [59]:
#while

In [60]:
age = 20

while age < 30:
    print("20대에 나이를 먹었습니다. 현재 나이: {age}".format(age=age))
    age += 1
#사실 파이썬에선 while보다 for문을 더 많이 씀

20대에 나이를 먹었습니다. 현재 나이: 20
20대에 나이를 먹었습니다. 현재 나이: 21
20대에 나이를 먹었습니다. 현재 나이: 22
20대에 나이를 먹었습니다. 현재 나이: 23
20대에 나이를 먹었습니다. 현재 나이: 24
20대에 나이를 먹었습니다. 현재 나이: 25
20대에 나이를 먹었습니다. 현재 나이: 26
20대에 나이를 먹었습니다. 현재 나이: 27
20대에 나이를 먹었습니다. 현재 나이: 28
20대에 나이를 먹었습니다. 현재 나이: 29

In [61]:
#for문

In [63]:
list(range(10)) #range 숫자에 대한 범위를 뽑아주는 함수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
animals = ["강아지","고양이","참새","이구아나"]

In [68]:
for animal in animals:
    print("나는 {animal}을 키운다.".format(animal=animal))

나는 강아지을 키운다.
나는 고양이을 키운다.
나는 참새을 키운다.
나는 이구아나을 키운다.

In [70]:
for number in range(10):
    print("hello world {number}".format(number=number)) #이렇게 formating을 해야되면 for 다음에 변수명을 씀

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [73]:
for _ in range(3):
    print("hello world") #변수 이름이 딱히 중요하지 않을 경우 아래바 사용

hello world
hello world
hello world

In [99]:
for i in range(6):
    print("*" * i) #이건 첫 줄이 별이 0개나와서 별로 => i-1을 곱하면 됨

*
**
***
****
*****

In [90]:
i = 1
while i < 6:
    print("*" * i)
    i +=1

*
**
***
****
*****

In [100]:
#안수찬 강사님 모범답안 1번
for i in range(5):
    star =""
    for j in range(i + 1):
        star += "*"
    print(star)

*
**
***
****
*****

In [101]:
#2번 답
star = ""

for i in range(5):
    star += "*"
    print(star)

*
**
***
****
*****

In [102]:
#3번 가장 파이썬스러운 방식
for i in range(5):
    print("*" * (i + 1))

*
**
***
****
*****

In [103]:
#과제 : 2) 우측부터 별이 나오도록 3) 5->4->3->2->1 4) 5->4->3->2->1 기준은 우측

In [104]:
#입력과 출력은 사용자와 파일 기준만 오늘 설명해드림

In [105]:
username = input("너의 이름은 뭐니?")

너의 이름은 뭐니?변성윤

In [106]:
username

'변성윤'

In [108]:
for i in range(int(input("별 몇개?"))):
    print("*" * (i+1)) #input은 항상 문자로 받기 때문에 int를 사용해 정수형으로 변환

별 몇개?2
*
**

In [109]:
#파이썬 2.0에서 input을 하면 그 값을 받아서 파이썬으로 실행함. 파이썬2,3에서 input은 다른 함수임.
#파이썬2에서 3처럼 사용하려면 raw_input()을 사용해야합니다★★★
#파이썬3의 print는 함수고 2의 print는 그냥 출력을 해주는 statement
#파이썬 2.0에서 print "hello world"
#파이썬 3.0에서 print("hello world")

In [110]:
#한글은 UTF8, EUC-KR 등의 인코딩으로 한글을 표현하지만 파이썬 2.x는 ascii임(한글을 표현 못함)
#따라서 파이썬 제일 상단부에 # -*- coding: utf-8 -*- 을 넣어주면 됨(주석이지만 실행)
#print "한글" str 
#print u"한글"unicode


#정리
#1.파일 상단에 #-*- coding: utf-8 -*- 를 명시한다.
#2.파이썬 스크립트 내에서는 반드시 unicode 로 변경해서 사용한다.
#3.외부 파일을 읽거나 쓸 때는 str 로 변경해서 읽거나 쓴다.
#4.외부 라이브러리를 사용할 때는 setdefaultencoding 을 사용해서 기본적으로 utf8을 사용하도록 하자.

# 유니코드 인코딩 : utf 8
# utf 8 디코딩 : 유니코드

In [118]:
# . => 현재 폴더
# .. => 상위폴더
# ./test.txt => 현재 폴더에 있는 test.txt
# ../test.txt => 상위 폴더에 있는 text.txt

#f = file.open("___","MODE")

In [130]:
f = open("./animals.txt", "r") #mode =: "w", "r", "a" ★★수찬님 서버에서 실행함

In [ ]:
f.read()

In [ ]:
f.readline() #실행할때마다 다음 열 출력

In [ ]:
f.readlines() #리드 라인을 여러번 읽은 후 리스트로 출력

In [ ]:
f = open("./animals.txt", "w")

In [ ]:
f.write("hello world")

In [ ]:
f.close() #항상 열면 닫아줘야됩니당

In [ ]:
with open("./animals.txt", "w") as f:
    f.write("hello world")  #이 기능을 사용하면 f.close를 사용안해도 됨

In [ ]:
with open("./starts.txt", "w") as f:
    for i in range(5):
        f.write("*" * (i + 1))
        f.write("\n")

In [ ]:
#함수
#작업 자동화
#우리가 반복적으로 사용할 어떤 특정 기능들에 대해서 => "재사용 가능한 코드 덩어리"

In [133]:
#함수 정의
def greeting(): #변수를 받지 않음
    username = input()
    print("{username}님, 가입을 축하드립니다.".format(username=username))

In [134]:
#함수 실행
greeting()

변성윤
변성윤님, 가입을 축하드립니다.

In [140]:
def print_pretty_star(count): #count라는 변수를 받음
    """
    이 함수는 별찍기 함수입니다. 
    """
    #docstring에 설명이 저장됨!
    for i in range(count):
        print("*" * (i + 1))

In [136]:
print_pretty_star(5)

*
**
***
****
*****

In [139]:
print_pretty_star(int(input("counts?")))

counts?3
*
**
***

In [141]:
print_pretty_star?